body{
    padding:100px;
}
.submit-area{
    padding:40px;
    border-radius:10px;
    box-shadow:5px 5px 10px gray;
}
#transaction-area{
    display:none;
}
.status{
    color:#fff;
    margin:0px 20px;
    padding:10px;
    border-radius:10px;
}
.deposit{
    background-color:blue;
}
.withdraw{
    background-color:green;
}
.balance{
    background-color:red;
}